.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  padding: 200px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body {
    background-color: #001a00;
}

.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
}

/* Estilos para los botones flotantes */
.floating-buttons {
  position: fixed; /* Fija los botones en la pantalla */
  bottom: 20px; /* Distancia desde la parte inferior */
  right: 20px; /* Distancia desde la parte derecha */
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000; /* Asegúrate de que estén por encima del mapa */
  margin: 0;
  padding: 0;
}

/* Estilos para cada botón flotante */
.btn-floating {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del icono */
  border: none; /* Sin borde */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para efecto flotante */
}
/* Estilos para el contenedor del mapa */
.leaflet-container {
  height: calc(100vh); /* Resta la altura del header */
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  padding: 0;
}
